.book-list {
  padding: 0;
}

.book {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  margin: 2rem;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.book-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
}

.about-book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-book button {
  background-color: transparent;
  border: none;
  color: #0290ff;
  padding: 0;
}

.book-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.vertical-line {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.category {
  font-weight: 700;
  color: #121212;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.book-title {
  font-family: "Roboto Slab", serif;
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  font-weight: 700;
  color: #121212;
}

.author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  font-family: "Roboto Slab", serif;
}
